<template name="goalProgress">
	<div class="thumbnail">
		{{#if currentUser}}
		<h2>My goals</h2>
		<ul>
    	<ul>
      		{{#each goals}}
       			<li class="goal {{#if private}}private{{/if}}">Name: {{text}}  Number: {{number}} Type:{{type}}</li>
       			<button class="delete">&times;</button>

	    	{{#if isOwner}}
		    	<button class="toggle-private">
		        	{{#if private}}
		          	Private
		        	{{else}}
		          	Public
		        	{{/if}}
		     	</button>
	    	{{/if}}        

      		{{/each}}
    	</ul> 
		</ul> 
		{{/if}}
	</div>
</template>

<template name="publicGoals">
	<div class="thumbnail">
		<h2>Public goals</h2>
		<ul>
    	<ul>
      		{{#each publicGoals}}
       			<li class="pubGoal">Name: {{text}}  Number: {{number}} Type:{{type}}</li>
      		{{/each}}
    	</ul> 
		</ul> 
	</div>
</template>		