<template name="goalProgress">
	<div class="thumbnail">
		{{#if currentUser}}
		<h2>My goals</h2>
		<ul>
    	<ul>
      		{{#each goals}}
       			<li class="goal">Name: {{text}}  Number: {{number}} Type: {{type}}</li>
       			<button class="delete">&times;</button>

	    	{{#if isOwner}}
		    	<button class="toggle-private">
		        	{{#if private}}
		          	Private
		        	{{else}}
		          	Public
		        	{{/if}}
		     	</button>
	    	{{/if}}        

      		{{/each}}
    	</ul> 
		</ul> 
		{{/if}}
	</div>
</template>

<template name="publicGoals">
	<div class="thumbnail">
		<h2>Public goals</h2>
		<ul class="media-list">
		{{#each publicGoals}}
		<li class="media">
			<a href="http://twitter.com/{{screen_name}}" class="pull-left">
				<img src="{{profile_image_url}}" class="media-object" alt="Twitter Profile">
			</a>
			<div class="media-body">
				<h4 class="media-heading">@{{screen_name}} <small><i>Made on {{createdAt}}</i></small></h4>
				<p>{{text}}: A Goal for {{number}} {{type}}!</p>
			</div>
		</li>
		{{/each}}
		</ul>
	</div>
</template>		